@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@font-face {
  font-family: 'chiikawa';
  src: url('../assets/fonts/chiikawa-english.woff2');
}

@font-face {
  font-family: 'sen';
  src: url('../assets/fonts/Sen-Regular.woff2');
}

@font-face {
  font-family: 'sen';
  font-weight: 500;
  src: url('../assets/fonts/Sen-Medium.woff2');
}

@font-face {
  font-family: 'sen';
  font-weight: 600;
  src: url('../assets/fonts/Sen-SemiBold.woff2');
}
@font-face {
  font-family: 'sen';
  font-weight: bold;
  src: url('../assets/fonts/Sen-Bold.woff2');
}

@font-face {
  font-family: 'sen';
  font-weight: 800;
  src: url('../assets/fonts/Sen-ExtraBold.woff2');
}

@theme {
  /* Breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 26rem;

  /* Fonts & Text */
  --font-default: 'sen', arial, sans-serif;
  --font-chiikawa: 'chiikawa', 'sen', arial, sans-serif;
  --text-shadow-wrap:
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white,
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white,
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white,
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white,
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white;

  /* Color */
  --color-duckegg: #cce6e3;
  --color-duckegg-dark: #bfe0dc;
  --color-brown: #773e39;
}

@utility drop-shadow-pink-outline {
  filter: drop-shadow(2px 2px 0px #ef638766);
}

/* Backgrounds */
@utility bg-dotted-xs {
  background-image: url('../assets/backgrounds/bg-dotted-xs.png');
}

@utility bg-dotted-sm {
  background-image: url('../assets/backgrounds/bg-dotted-sm.png');
}

@utility bg-dotted {
  background-image: url('../assets/backgrounds/bg-dotted.png');
}

@utility bg-dotted-lg {
  background-image: url('../assets/backgrounds/bg-dotted-lg.png');
}

/* Containers */
@utility main-container {
  @apply bg-dotted-xs rounded-xl border-5 border-[#f6b7c8] bg-pink-100;
}

@utility secondary-container {
  @apply bg-dotted-lg rounded-xl border-5 border-blue-200 bg-blue-100;
}

/* Gradients */
@utility pink-gradient {
  @apply border-[#FFDCEA] bg-linear-to-b from-[#FFEDF5] to-[#FFDEED];
}

@utility yellow-gradient {
  @apply border-[#FEF5D7] bg-linear-to-b from-[#FFFDED] to-[#FFFBDE];
}

@utility duckegg-gradient {
  @apply border-[#A2D0C488] bg-linear-to-b from-[#D9F1EB] to-[#cae8dc];
}

/* Blocks */
@utility block-shadow {
  @apply shadow-[3px_3px_1px] inset-shadow-[2px_2px_3px] shadow-[#ef638722] inset-shadow-white;
}

@utility block {
  @apply block-shadow rounded-lg border-2;
}

@utility pink-dotted-block {
  @apply bg-dotted-sm block border-[#FFDCEA] bg-pink-100;
}

@utility pink-dotted-block-lg {
  @apply bg-dotted-lg block border-[#FFDCEA] bg-pink-100;
}

@utility pink-block {
  @apply pink-gradient block;
}

@utility yellow-block {
  @apply yellow-gradient block;
}

@utility duckegg-block {
  @apply duckegg-gradient block;
}

/* Buttons */
@utility button {
  @apply text-shadow-wrap block-shadow rounded-xl border-2 disabled:border-gray-400 disabled:bg-gray-400 disabled:text-gray-50 disabled:shadow-none disabled:text-shadow-none;
}

@utility pink-button {
  @apply button border-pink-200 bg-pink-50 hover:bg-pink-100;
}

@utility yellow-button {
  @apply button border-yellow-200 bg-yellow-50 hover:bg-yellow-100;
}

@utility blue-button {
  @apply button border-emerald-200 bg-emerald-50 hover:bg-emerald-100;
}
