@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@font-face {
  font-family: 'sen';
  src: url('../assets/fonts/Sen-Regular.woff2');
}

@font-face {
  font-family: 'sen';
  font-weight: 500;
  src: url('../assets/fonts/Sen-Medium.woff2');
}

@font-face {
  font-family: 'sen';
  font-weight: 600;
  src: url('../assets/fonts/Sen-SemiBold.woff2');
}
@font-face {
  font-family: 'sen';
  font-weight: bold;
  src: url('../assets/fonts/Sen-Bold.woff2');
}

@font-face {
  font-family: 'sen';
  font-weight: 800;
  src: url('../assets/fonts/Sen-ExtraBold.woff2');
}

@theme {
  --breakpoint-xs: 30rem;
  --font-default: 'sen', arial, sans-serif;
  --text-shadow-wrap:
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white,
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white,
    0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white;
}

@utility drop-shadow-pink-outline {
  filter: drop-shadow(2px 2px 0px #ef638766);
}

@utility bg-dotted-sm {
  background-image: url('../assets/backgrounds/bg-dotted-sm.png');
}

@utility bg-dotted {
  background-image: url('../assets/backgrounds/bg-dotted.png');
}

@utility bg-dotted-lg {
  background-image: url('../assets/backgrounds/bg-dotted-lg.png');
}

@utility main-container {
  @apply bg-dotted-sm border-5 rounded-xl border-pink-200 bg-pink-100;
}

@utility block-shadow {
  @apply inset-shadow-[2px_2px_3px] inset-shadow-white shadow-[2px_2px_1px] shadow-pink-200;
}

@utility yellow-block {
  @apply bg-linear-to-b block-shadow rounded-lg border-2 border-yellow-200 from-orange-50 to-yellow-50;
}

@utility blue-block {
  @apply bg-linear-to-b block-shadow rounded-lg border-2 border-emerald-200 from-emerald-50 to-teal-100;
}

@utility pink-block {
  @apply bg-linear-to-b block-shadow rounded-lg border-2 border-pink-200 from-red-50 to-pink-100;
}
